<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <nav>
        <a href="/log">Login</a><br><br><br>
        <a href="/reg">Register</a><br><br>
        <% if(ans){%>
        <h2>Your Image ID : <p><%=ans[1].IMG_ID%></p></h2><br><br>
        <h2>Your Image NAME : <p><%=ans[1].IMG_NAME%></p></h2><br><br>
        <h2>Your Image IMAGE : <img src="<%=ans[1].IMAGE%>"></h2><br><br>
        <%}%>
    </nav>
</body>
</html>