<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGES</title>
</head>
<body>
    <form action="/imagesstore" method="post">
        <h2>Upload Your Images to be inserted into Database</h2><br><br>
        <label>Image_ID : <input type="text" id="id" name="id"/><br><br>
        <label>Image_NAME : <input type="text" id="name" name="name"/><br><br>
        <label>Image : <input type="text" id="imagepath" name="imagepath"><br><br>
        <img src="../public/images/HARISH B.png" alt="image"/>
        <input type="submit"><br><br><hr>
    </form>
</body>
</html>