<DOCTYPE html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="/public/images/logo.png"> -->
    </head>
    <style>
        *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;  
}
.login{
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #000;
}
.form{
  width: 30rem;
  background-color: #fff;
  box-shadow: 0px 5px 20px 4px rgba(187, 175, 175, 0.874);
  border-radius: 20px 35px 20px 35px;
}
.form #h2{
  font-size: bold;
  padding: 25px;
  text-align: center;
}
.form nav{
  display: flex;
  gap: 35px;
  margin-left: 170px;
  padding: 10px;
}
.form p{
  color: red;
  font-size: medium;
}
.form label{
  display: block;
  font-size: large;
  width: 100%;
  /* margin-left: 30px; */
  padding: 10px;
  font-weight: bolder;
  padding-bottom: 20px;
  padding: 20px;
}
.form input{
  width: 100%;
  /* margin-left: 30px; */
  padding: 5px;
  outline: none;
}
.form input:focus{
  outline: none;
}
.form small{
  color: #c80d0d;
  visibility: hidden;
}
.form .password{
  display: inline-flex;
  font-size: large;
  margin-left: -70px;
  color: black;
  text-decoration: none;
  margin-top: 40px;
  padding: 20px;
}
.form button{
  border: none;
  font-size: large;
  width: 45%;
  margin-left: 120px;
  padding: 10px;
  font-weight: bolder;
}
.form button:hover{
  cursor: pointer;
  color: white;
  background: rgba(0,0,0,0.75);
  animation-name: slide;
  animation-duration: 100ms;
  animation-delay: 1000ms;
}
@keyframes slide{
  0%{

  }
}
.form .registername{
  color: black;
  font-size: large;
  font-weight: bolder;
  /* margin-left: 30px; */
  padding-bottom: 20px;
  padding: 20px;
}
.form .newaccount{
  color: black;
  text-decoration: none;
  font-weight: 100;
  padding-bottom: 20px;
}
.form .newaccount:hover, .form .password:hover{
  color: blueviolet;
  text-decoration: underline;
  cursor: pointer;
}
.error{
  color:red;
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 10px;
}
.success{
  color:green;
  font-weight: bold;
  font-size: large;
  text-align: center;
  padding: 10px;
}



















    </style>
    <body>
          <div class="login">
          <form class="form" action="" method="post" onsubmit="return submitvalidate()">
          <h2 id="h2">Login with</h2>
            <nav>
              <div class="a"><a href="https://www.facebook.com/varunkavier.kavier"><i class="fab fa-facebook-f"></i></a></div>
              <div class="a"><a href="https://www.instagram.com/__delcet__23/"  target="_blank"><i class="fab fa-instagram"></i></a></div>
              <div class="a"> <a href="https://twitter.com/DelcetMusicHB"><i class="fab fa-twitter"></i></a></div>
            </nav>
          <label>Email : </label>
          <input type="text" placeholder="Enter your email" id="email" name="email" onkeyup="emailerror()">
          <small id="error1">Error Message</small>
        
          <label>Password : </label>
          <input type="password" placeholder="Enter your password" id="set_password" name="set_password" onkeyup="spasserror()">
          <small id="error2">Error Message</small> 
        
          <a class="password" href="/forgotpass">Forgot password?</a>
          <button type="submit">Login</button>
        
          <p class="registername">Don't have an account?&nbsp;
          <a class="newaccount" href="/register">Create One</a></p>
          </form>
          </div>
          <script>
          const email=document.getElementById("email");
          const spass=document.getElementById("set_password");
          const error1=document.getElementById("error1");
          const error2=document.getElementById("error2");
          var count=0;
          function emailerror(){
        const email1=email.value;
        const regExp = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
        if(email1==""){
          error1.innerHTML="This Field should'nt be empty";
          error1.style.visibility="visible";
          email.style.border="2px solid red";
        }
        else if(!(regExp.test(email1))){
          email.style.border="2px solid red";
          error1.style.visibility="visible";
          error1.innerHTML="Invalid! Please provide proper Email";
      }
      else{
        error1.style.visibility="hidden";
        email.style.border="2px solid green";
        count++;
      }
    }
    
    function spasserror(){
      const spass1=spass.value;
        if(spass1==''){
        error2.innerHTML="This Field should'nt be empty";
        error2.style.visibility="visible";
        spass.style.border="2px solid red";
      }
      else if(spass1.length<=4){
        error2.innerHTML="Weak Password need to update";
        error2.style.visibility="visible";
        spass.style.border="2px solid red";
        }
        else if(spass1.length<=6){
        error2.innerHTML="Medium Password need to update";
        error2.style.visibility="visible";
        spass.style.border="2px solid red";
        }
        else{
            error2.style.visibility="hidden";
        spass.style.border="2px solid green";
        count++;
        } 
    }
    
    function submitvalidate(){
      if(count>2) return true;
      else return false;
    }
        </script>
        </body>
        </html>